{% extends 'Blog/padre.html' %}

{% load static %}

{% block titulo_header %}
    <div class="tituloHeader">
        <span class='subheading'>Subi tu avatar!</span>
    </div>
    <div class="parrafo">
        <p>En el apartado de abajo podras subir la imagen de perfil que quieras </p>
    </div>

{% endblock %}

{% block contenido_principal %}

    {% if form.errors %}

        <p style='color: red; text-align: center'>¡Datos incorrectos!</p>

    {% endif %}
    <br>
    <br>
        <div class='mb-4'>
            <div class='container px-4 px-lg-5'>
                <form class='form-group text-center' action='' method='POST' enctype='multipart/form-data'>{% csrf_token %}
                    <table class='table'>
                        {{form.as_p}}
                    </table>
                    <input type='submit' value='SUBIR AVATAR' class='btn btn-dark mx-1'>
                    <button type='button' class='btn btn-dark position-relative'>
                        <a href='{% url "Inicio" %}' style='color: white;'>IR A INICIO</a>
                    </button>
                </form>
            </div>
        </div>

{% endblock %}