{% extends 'Blog/padre.html' %}

{% load static %}

{% block contenido_avatar %}

    <img class='mx-2' height='50px' src='{{url}}' alt='Avatar' title='Avatar'>

{% endblock %}

{% block titulo_header %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class='post-heading'>
        <h1>{{posteo.titulo}}</h1>
        <span class='meta'>
            Posteado por
            <span>{{posteo.autor}}</span>
            {{posteo.fecha}}
        </span>
    </div>

{% endblock %}

{% block contenido_principal %}

    <article class='mb-3'>
        <div class='container px-4 px-lg-5'>
            <div class='row gx-4 gx-lg-5 justify-content-center'>
                <div class='col-md-10 col-lg-8 col-xl-7 post-preview'>
                    <br>
                    <br>
                    <h2 class='post-title'>{{posteo.titulo}}</h2>
                    <hr class='my-4' />
                    <p class='post-meta'>
                        Posteado por
                        <span>{{posteo.autor}}</span>
                        {{posteo.fecha}}
                    </p>
                    <hr class='my-4' />
                    <p>{{posteo.cuerpo}}</p>
                    <hr class='my-4' />
                    <br>
                    <div class="img-post">
                        <img class="avatar" src="{{posteo.imagen.url}}" width="400px" alt="">
                    </div>
                    <br>
                    <hr class='my-4' />
                    <button type='button' class='btn btn-dark position-relative mb-3'>
                        <a href='{% url "listaPosteos" %}' style='color: white;'>VOLVER</a>
                    </button>
                </div>
            </div>
        </div>
    </article>
    
{% endblock %}